.location-view {

	.wrapped {
		padding: 12px 0;
		
		.steps-wrap {
			position: relative;
			min-height: 90px;
		}

		.steps-text {
			position: relative;
			display: block;
			margin-left: 58px;
			color: $green;
			position: relative;
			font-size: 32px;
			z-index: 1;
			letter-spacing: 0.5px;
			@include signpainter();
			font-style: italic;

			span{
				font-style: normal;
			}

			.btn {
				margin-top: 10px;
			}
		}
	}

	.wrapped-center {
		padding: 12px 0;
		text-align:center;
	}
	.header-wrap {
		padding-top: 15px;
		height: 230px;
	}

	.title-wrap {
		position: relative;
		height: 239px;
		z-index: 10;

		.home-title {
			position: absolute;
			display: block;
			left: 0px;
			top: 0px;
			width: 280px;
			padding: 0;
			margin: 0 auto;
		}
	}


	footer {
		clear: both;
		@include geox-regular();
		color: $green-dark;
	}

	footer {
		text-align: center;
		font-size: 13px;
	}
}