.voucher-page-screen {
	background-color: #f3f3f3;
}

.enter-code-view {
	background-image: none;
	background-color: #f3f3f3;
	height: auto;
	min-height: 0px;

	> .wrapped {
		padding-top: 80px;
		padding-bottom: 50px;
	}

	.intro-text {
		margin-top: 0;
	}
	
	#enter-code-subtitle {
		margin: 24px auto 20px auto;
	}
	input {
		width: 63px;
		height: 63px;
		display: inline-block;
		@include signpainter();
		color: $orange;
		text-align: center;
		padding: 5px;
		font-size: 50px;
		margin-right: 4px;
		border: 0;
		border-radius: 0;
		box-shadow: 3px 3px 0px 0px rgba(166, 166, 166, 0.75) inset;
		background-color: $colourTextNeg;

		&:last-child {
			margin-right: 0;
		}
	}

	#enter-code-form {

		.btn {
			margin-top: 40px;
		}
	}
}