.filters-wrap {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 110px;
	padding-top: 50px;
	min-width: 320px;
	width: 100%;
	background-color: #f3f3f3;
	box-shadow: 0 2px 3px rgba(0,0,0, 0.3);
	z-index: 4;

	.filters {
		padding-top: 8px;

		a {
			margin: 0;
			color: $orange-dark;
			border-radius: 5px;
			border: 1px solid $orange-dark;
			min-width: 49.4%;
			display: inline-block;
			text-align: center;
			text-decoration: none;
			@include geox-bold();
			float: left;
			padding: 8px 0;

			&:first-child {
				border-top-right-radius: 0px;
				border-bottom-right-radius: 0px;
			}
			&:last-child {
				border-top-left-radius: 0px;
				border-bottom-left-radius: 0px;
				border-left: 0;
			}

			&:hover {
				background-color: $orange-dark;
				color: $colourTextNeg;
			}

			&.map-filter-active {
				background-color: $orange-dark;
				color: white;
			}
		}
	}
}

.map-wrap {
	position: relative;
	width: 100%;
	z-index: 1;
   	height: 100%;

	.search-icon {
		position: absolute;
		width: 28px;
		height: 29px;
		left: 10px;
		top: 140px;
		z-index: 980;
		-webkit-appearance: none;
		background-color: transparent;
		border: none;
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAdCAMAAACOj/wDAAAATlBMVEUAAAAzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzO4SX6oAAAAGnRSTlMAgHoFXzoKbxxFJRgTdGlnVTQOYjwqVlFNL0JnZl4AAADNSURBVCjPxZDbEoMgDEQNVi4iAt6q//+j3c4UAtjpa/fFJIckG7usfum77xoPR0Qu7HekZ0pSY8OiIEgofKCtYtebGItoMqKhFoV5+STyAaoZIvU9e17xlBvxdOpYCwZlU4boyagpYEztXuOeFLt6KrbCe4qxQnaVYCIZVG2nRGdxyVXBsbhlI1orGIhMvgsr9tos2Zyd2MGZhIejMOBAU+/omh+mBQp+0JOOcAc9+oJaRSzRUmlEQqccEmUcg1c+RImY6U3/pQzvFOynXuSpBcgVHTnEAAAAAElFTkSuQmCC');
		background-repeat: no-repeat;
		outline: none;
		background-size: contain;

		&#barsByPostcode {
			z-index: 999;
		}	
	}

	#map-search,
	#list-search {
		position: relative;
		width: 100%;
		height: 50px;
		box-sizing: border-box;
		z-index: 970;
		margin: 20px auto 0;
		padding: 6px 20px 6px 50px;
		border: none;
		box-shadow: 0px 2px 0 0 rgba(0,0,0, 0.1);
		@include geox-regular();
		font-size: 18px;
		color: $colourTextNeutral;
	}

	#list-search {
		z-index: 998;
	}

	::-webkit-input-placeholder {
	   color: $colourTextNeutral;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: $colourTextNeutral;  
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: $colourTextNeutral;  
	}

	:-ms-input-placeholder {  
	   color: $colourTextNeutral;  
	}
	
	#map-canvas {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}
}

#bar-details-overlay {
	display: none;
	position: absolute;
	min-height: 260px;
	width: 100%;
	top: 50px;
	left: 0px;
	z-index: 3000;
	background-color: #f3f3f3;
	box-shadow: 0 2px 2px rgba(0,0,0, 0.25);

	.wrapped {
		padding-top: 40px;
	}
}

.bar-name,
.bar-more-info {
	width: 175px;
	float: left;
	display: inline-block;
}

.bar-name {
	@include signpainter;
	color: $orange-dark;
	font-size: 28px;
	font-style: italic;
	font-weight: 200;
}

.bar-more-info {
	width: 90px;
	margin-top: 30px;
	float: right;
}

.distance {
	font-size: 13px;
	text-align: right;
	width: 100%;
	display: none;
}

.getDirectionsArrow {
	display: none;
	float: right;
	width: 16px;
	height: 26px;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAABICAMAAAC6P+d/AAAAh1BMVEUAAADmYCDmYCDmYCDmYCDmYCDmYCDmYCDmYCDmYCDmYCDmYCDmYCDmYCDmYCDmYCDmYCDmYCDmYCDmYCDmYCDmYCDmYCDmYCDmYCDmYCDmYCDmYCDmYCDmYCDmYCDmYCDmYCDmYCDmYCDmYCDmYCDmYCDmYCDmYCDmYCDmYCDmYCDmYCDmYCBs0TlMAAAALHRSTlMA+yIW8RsPCgP26uPcNgbI5ti9opGCe28usZiKdGlkWlNC086qXk5IPSrCtgeEVlkAAAF5SURBVEjHrdbXboNAEAXQpSzNFGMMxA1wb/P/3xdFjiKH0WV3JN/n87AS3JlRr9y7uhkCZRN3QT/xtxb2K6HfLI02SOkvtQlv6C2ml8zpPd2k9ehfnF6AybnYP4Mo3k/gJY3iZxhrn+kvrDsaJ3EFD6GZxrpiOvUgjlZMHwKo8wXTRQh1WDC9wDo4ML3KofZSpqsI92XG9FrB3BOmN1hnPtMN1vuY6Rbri8N0h3XPtDNgvSOmr1g3TMe3qdEgqc6alwFXJzoxPcfVyZ+8DBrq8MH0ceKHPUo+pVeOcalwNPthgwmdjbGrBKWU1L2UDJIW2orZAlZ9LRhnG8GgbAQjuCX74X7mTcmQHRyyXkhXZvGqu8XM9oL5tTPfEubF786ZrZHVKbNL+yJRJajoKbLfVs/cfg8+QvtiFIF9MQ6eoBjaftjPXGR1zIpx/8yNlAhWiAeXkxk7g+AWPavJ1LwYOGEJjgDDVVIrc/Tp9d16ZRX3vG33kfpkvgEPsMej8gkivgAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
	background-size: 16px 26px;
	margin-top: -5px;
	cursor: pointer;
}

address {
	font-size: 16px;
	@include geox-regular();
	font-style: normal;
	color: $colourText;
	width: 100%;
	clear: both;
	margin-bottom: 20px;
	white-space: pre-line;
}

.phoneNumber {
	width: 100%;
	clear: both;
}

.get-directions {
	margin: 0 auto 20px;
	display:none;
}

.map-view .bar-name,
.map-view .distance,
.map-view address {
	width: 70%;
	float: left;
	margin: 0;
}

.map-view address {
	margin-bottom: 5px;
	white-space: pre-line;
}

.bars-postcode {
	width: 100%;
	clear: both;
}

.map-view .distance {
	width: 30%;
	line-height: 40px;
}

.bars-list-view {
	background-image: none;
	background-color: #f3f3f3;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 2;
	display: none;
	height: auto;

	.distance {
		text-align: left;
		width: auto;
	}
}

.map-wrap {

	> .wrapped {
		padding-top: 110px;
	}
}

.map-page-screen.standalone-version {

	.hide-on-standalone {
		display: none;
	}

}