.user-details-view {

	.wrapped {
		position: relative;
		padding: 12px 0;
		z-index: 10;
	}

	.header-wrap {
		height: 180px;
	}
	
	#details-subtitle {
		margin: 24px auto 20px auto;
	}
	
	label {
		display:block;
		@include geox-bold();
		color: $green-dark;
		margin: 15px 0 5px;

		&:first-child {
			margin-top: 0;
		}
	}

	input[type="text"],
	input[type="email"] {
		width: 100%;
		font-size: 24px;
		font-style: italic;
		color: $green-dark;
		@include signpainter();
		background-color: $colourTextNeg;
		border: 0;
		border-radius: 0;
	}

	::-webkit-input-placeholder {
	   color: rgba(10,95,85, 0.5);
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: rgba(10,95,85, 0.5);  
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: rgba(10,95,85, 0.5);  
	}

	:-ms-input-placeholder {  
	   color: rgba(10,95,85, 0.5);  
	}

}